.App {
    font-family: sans-serif;
    text-align: center;
  }
  .grid-container {
    height: 200px; /* Adjust the height as per your requirements */
    /* Add other styling properties as needed */
  }
  .block {
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .static {
    background: blue;
  }
  .droppable-element {
    height: 50px;
    width: 250px;
    background: skyblue;
    margin: 10px;
    border: 2px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  