.rti--container {
  display: block;
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid #309ba0 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  /* color: #086368; */
}
.rti--container:focus {
  border: none !important;
  outline: none !important;
}

.form-button {
  background-color: #0e7490;
}
.Back-button {
  background-color: #309ba0;
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  /* color: #3498db; */
  /* font-size: 7vw; */
  /* font-family: "Open Sans", sans-serif; */
  /* font-weight: 700; */
  text-transform: uppercase;
  white-space: nowrap;
}
.hero-heading::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-split);
  height: 50%;
  color: #dae5e1;
  overflow: hidden;
}
