.rti--container {
  display: block;
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid #309ba0 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.rti--container:focus {
  border: none !important;
  outline: none !important;
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.hero-heading::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-split);
  height: 50%;
  color: #dae5e1;
  overflow: hidden;
}
.bounce-image {
  animation: bounce 4s ease-in-out infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
