
.rti--container {
  display: block;
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid rgb(164, 206, 253) !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.rti--container:focus{
  border: none !important;
  outline: none !important;
  
}